/*=====================================================================================================================*/
/*======================================================CSS por etiquieta==============================================*/
/*=====================================================================================================================*/

body{
    background: #fafafa;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

/*=====================================================================================================================*/
/*=====================================================================================================================*/
/*=====================================================================================================================*/

#anteproyectotitulo {
    height: 100%;
    overflow-y: auto;
}

#anteproyectoautor{
    height: 100%;
    overflow-y: auto;
}

#ContenedorMasivo{
    height: 100%;
    overflow-y: auto;
}

#ContenedorMasivoF{
    height: 100%;
    overflow-y: auto;
}

#finaltitulo{
    height: 100%;
    overflow-y: auto;
}

#finalautor{
    height: 100%;
    overflow-y: auto;
}


#nav{
    -webkit-box-shadow: 0px 10px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px -2px rgba(0,0,0,0.75);
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

#content ul li > a:hover{
    background-color: darkgrey;
    font-weight: 100;
    color: white;
}#content ul li > a:active{
    color: black;
}

#contentslider{ 
    position: absolute;
    width: 100%;
    background-color: transparent;
    height: 80%;
    overflow: hidden;
}

#anteproyecto{ 
    position: absolute;
    width: 100%;
    background-color: transparent;
    height: 80%;
    overflow: hidden;
}

#informe{ 
    position: absolute;
    width: 100%;
    background-color: transparent;
    height: 80%;
    overflow: hidden;
}

#formcomentarios{
    position: static;
}

#contendorcomentarios{ 
    overflow-y: auto;  
    height: 30%;
}

#anexoadjuntado{
    top: 0;
}

/*=====================================================================================================================*/
/*==============================================Documentos / Comentarios===============================================*/
/*=====================================================================================================================*/

#contenedor-viewdocument{
    background-color:rgba(0,0,0,0.75);
    overflow-y: hidden;
    overflow-x: hidden;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: auto;
    width: 90%;
    margin-left: 3%;

}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 81%;
}

#menucomentarios{
   background-color: transparent;
   position: absolute;
    width: 10%;
    height: 100%;
    top: 0%;
    left: 97.5%;
    z-index: 2;
    overflow-y: auto;
    overflow-x: hidden;
}


#formcomentarios{
    opacity: 0;
}

#contendorcomnetarios{
     border-top: 1px solid black;
}


/*=====================================================================================================================*/
/*==========================================================ListView===================================================*/
/*=====================================================================================================================*/

.ui-li-static.ui-collapsible > .ui-collapsible-heading {
    margin: 0;
}
.ui-li-static.ui-collapsible {
    padding: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-heading > .ui-btn {
    border-top-width: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-heading.ui-collapsible-heading-collapsed > .ui-btn,
.ui-li-static.ui-collapsible > .ui-collapsible-content {
    border-bottom-width: 0;
}

/*=====================================================================================================================*/
/*==========================================================Checkbox===================================================*/
/*=====================================================================================================================*/

.checkbox {
    padding-left: 20px; 
}
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; 
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; 
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; 
}
.checkbox input[type="checkbox"] {
    opacity: 0; 
}
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; 
}
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; 
}
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; 
}
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; 
}
.checkbox.checkbox-circle label::before {
    border-radius: 50%; 
}
.checkbox.checkbox-inline {
    margin-top: 0; 
}
.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca; 
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; 
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f; 
}
.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff; 
}

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de; 
}
.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff; 
}
.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e; 
}
.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff; 
}
.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c; 
}
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; 
}
.radio {
    padding-left: 20px; 
}
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; 
}
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; 
}
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); 
}
.radio input[type="radio"] {
    opacity: 0; 
}
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; 
}
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); 
}
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; 
}
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; 
}
.radio.radio-inline {
    margin-top: 0; 
}
.radio-primary input[type="radio"] + label::after {
    background-color: #428bca; 
}
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca; 
}
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca; 
}
.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f; 
}
.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f; 
}
.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f; 
}
.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de; 
}
.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de; 
}
.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de; 
}
.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e; 
}
.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e; 
}
.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e; 
}

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c; 
}
.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c; 
}
.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c; 
}

#barrap{
    margin-left: 15px;
    width: 65%;
}


/*=====================================================================================================================*/
/*=============================================Documentos anteriores===================================================*/
/*=====================================================================================================================*/

.contenedordeladjunto{
    background-color: #cdcecf;
    margin: 10px;
    padding: 10px;
    overflow-y: auto;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */ 
}

.contenedordeladjunto:hover {
	cursor: pointer;
	-webkit-  transform: scale(1.1, 1.1);
    -ms- transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    box-shadow: 10px 10px 5px rgba(0,0,0,0.75);
    z-index: 1;
}

/*=====================================================================================================================*/
/*==========================================================Anexos=====================================================*/
/*=====================================================================================================================*/



input[type="file"] {
    height: 3em;
    opacity: 0;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%; 
    z-index: 3;
}

/* Estilo del área del input[file] con :hover */

.drag-drop:hover, input[type="file"]:hover {
    background-color: #25b863;
    cursor: pointer;
}



/*=====================================================================================================================*/
/*==========================================================Slider=====================================================*/
/*=====================================================================================================================*/


#first-slider .main-container {
    padding: 0;
   
}


#first-slider .slide1 h3, #first-slider .slide2 h3, #first-slider .slide3 h3, #first-slider .slide4 h3{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight:700;
}

#first-slider .slide1 h4,#first-slider .slide2 h4,#first-slider .slide3 h4,#first-slider .slide4 h4{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight:700;
}
#first-slider .slide1 .text-left ,#first-slider .slide3 .text-left{
    padding-left: 40px;
}


#first-slider .carousel-indicators {
    bottom: 0;
}
#first-slider .carousel-control.right,
#first-slider .carousel-control.left {
    background-image: none;
}
#first-slider .carousel .item {
    min-height: 425px; 
    height: 100%;
    width:100%;
}

.carousel-inner .item .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}


#first-slider h3{
    animation-delay: 1s;
}
#first-slider h4 {
    animation-delay: 2s;
}
#first-slider h2 {
    animation-delay: 3s;
}


#first-slider .carousel-control {
    width: 6%;
    text-shadow: none;
}


#first-slider h1 {
    text-align: center;  
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}

#first-slider .p {
    padding-top: 125px;
    text-align: center;
}

#first-slider .p a {
    text-decoration: underline;
}
#first-slider .carousel-indicators li {
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,.4);
    border:none;
}
#first-slider .carousel-indicators .active{
    width: 16px;
    height: 16px;
    background-color: #fff;
    border:none;
}


.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}

.carousel-control .fa-angle-right, .carousel-control .fa-angle-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .fa-angle-left{
    left: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control .fa-angle-right{
    right: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
}


/*=====================================================================================================================*/
/*==================================================Slide Background===================================================*/
/*=====================================================================================================================*/

#first-slider .slide1 {
    background-image: url(../css/images/Slider/Profesor5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#first-slider .slide2 {
    background-image: url(../css/images/Slider/Profesor6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#first-slider .slide3 {
    background-image: url(../css/images/Slider/Profesor7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#first-slider .slide4 {
    background-image: url(../css/images/Slider/Profesor4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*=====================================================================================================================*/
/*=======================================================Media Query===================================================*/
/*=====================================================================================================================*/

@media screen and (min-width: 980px){
      
}
@media screen and (max-width: 640px){
      
}

/*=====================================================================================================================*/
/*==========================================================Cargando===================================================*/
/*=====================================================================================================================*/

#contenedorloader{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:white;
    z-index:  2147483647;
}

#contenedor {
    position: fixed;
    left: 40%;
    top: 40%;
	width:200px;
    height:200px;
    z-index: 100000;
}
.loader {
  font-size: 50px;
  margin: 45% auto;   
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
}

/*=====================================================================================================================*/
/*==============================================Actulizar datos del usuario============================================*/
/*=====================================================================================================================*/

#container-div-actualizar{
    background-color: rgba(255, 255, 255,0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
    
}

/*=====================================================================================================================*/
/*=====================================================================================================================*/
/*=====================================================================================================================*/

@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #00BC8B, 2em -2em 0 0em #00BC8B, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #00BC8B, 0em 3em 0 -0.5em #00BC8B, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #00BC8B, -2em -2em 0 0em #00BC8B;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #00BC8B, 2em -2em 0 0.2em #00BC8B, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #00BC8B, 0em 3em 0 -0.5em #00BC8B, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #00BC8B, -2em -2em 0 -0.5em #00BC8B;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #00BC8B, 2em -2em 0 0em #00BC8B, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #00BC8B, 0em 3em 0 -0.5em #00BC8B, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #00BC8B, -2em -2em 0 -0.5em #00BC8B;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #00BC8B, 2em -2em 0 0em #00BC8B, 3em 0em 0 -0.5em #00BC8B, 2em 2em 0 -0.5em #00BC8B, 0em 3em 0 -0.5em #00BC8B, -2em 2em 0 -0.5em #00BC8B, -3em 0em 0 -0.5em #00BC8B, -2em -2em 0 0em #00BC8B;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #00BC8B, 2em -2em 0 0.2em #00BC8B, 3em 0em 0 0em #00BC8B, 2em 2em 0 -0.5em #00BC8B, 0em 3em 0 -0.5em #00BC8B, -2em 2em 0 -0.5em #00BC8B, -3em 0em 0 -0.5em #00BC8B, -2em -2em 0 -0.5em #00BC8B;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #00BC8B, 2em -2em 0 0em #00BC8B, 3em 0em 0 0.2em #D8D8D8, 2em 2em 0 0em #00BC8B, 0em 3em 0 -0.5em #00BC8B, -2em 2em 0 -0.5em #D8D8D8, -3em 0em 0 -0.5em #00BC8B, -2em -2em 0 -0.5em #00BC8B;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #00BC8B, 2em -2em 0 -0.5em #00BC8B, 3em 0em 0 0em #00BC8B, 2em 2em 0 0.2em #00BC8B, 0em 3em 0 0em #00BC8B, -2em 2em 0 -0.5em #00BC8B, -3em 0em 0 -0.5em #D8D8D8, -2em -2em 0 -0.5em #D8D8D8;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #00BC8B, 2em -2em 0 -0.5em #00BC8B, 3em 0em 0 -0.5em #00BC8B, 2em 2em 0 0em #00BC8B, 0em 3em 0 0.2em #00BC8B, -2em 2em 0 0em #00BC8B, -3em 0em 0 -0.5em #00BC8B, -2em -2em 0 -0.5em #00BC8B;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #00BC8B, 2em -2em 0 -0.5em #00BC8B, 3em 0em 0 -0.5em #00BC8B, 2em 2em 0 -0.5em #00BC8B, 0em 3em 0 0em #00BC8B, -2em 2em 0 0.2em #00BC8B, -3em 0em 0 0em #00BC8B, -2em -2em 0 -0.5em #00BC8B;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #00BC8B, 2em -2em 0 -0.5em #00BC8B, 3em 0em 0 -0.5em #00BC8B, 2em 2em 0 -0.5em #00BC8B, 0em 3em 0 -0.5em #00BC8B, -2em 2em 0 0em #00BC8B, -3em 0em 0 0.2em #00BC8B, -2em -2em 0 0em #00BC8B;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #00BC8B, 2em -2em 0 -0.5em #00BC8B, 3em 0em 0 -0.5em #00BC8B, 2em 2em 0 -0.5em #00BC8B, 0em 3em 0 -0.5em #00BC8B, -2em 2em 0 0em #00BC8B, -3em 0em 0 0em #00BC8B, -2em -2em 0 0.2em #00BC8B;
 
}